name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
      - "dev"

concurrency:
  group: "${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'graalvm'

      - uses: gradle/actions/wrapper-validation@v5

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ !startsWith(github.ref, 'refs/heads/master') || !startsWith(github.ref, 'refs/heads/dev') || github.event_name == 'pull_request' }}
          dependency-graph: disabled
          dependency-graph-continue-on-failure: true
          add-job-summary-as-pr-comment: on-failure
          gradle-home-cache-cleanup: true
          build-scan-publish: false
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"

      #      - name: "cache project local caches"
      #        uses: actions/cache@v4
      #        with:
      #          path: |
      #            ~/.gradle/caches/
      #            ~/.gradle/wrapper/
      #          key: ${{ runner.os }}-project-local-gradle-caches-${{ hashFiles('**/libs.versions.toml', '**/*.gradle*', '**/gradle-wrapper.properties') }}
      #          restore-keys: |
      #            ${{ runner.os }}-project-local-gradle-caches-

      - name: Publish with Gradle
        env:
          # we cant use github secrets in private repos without paying :( - preva1l
          # idiot, repo secrets exist too babes
          ORG_GRADLE_PROJECT_CrystalChaosUsername: ${{ secrets.REPO_USERNAME }}
          ORG_GRADLE_PROJECT_CrystalChaosPassword: ${{ secrets.REPO_PASSWORD }}
        run: ./gradlew publish
